* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-canvas {
  border: 1px solid black;
}

#gameArea{
  background-color: black;
  color: white;
  font-size: 2rem;
}

#topBar{
  padding: 40px;
}

#bottomBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}